<!DOCTYPE html>
<html>
  <head>
    <title>Filmster</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis|Open+Sans" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div id='wrap'>
  	<%= render 'shared/navbar' %>
  </div>	
  <body>
  	<%= render 'shared/flash' %>
    <%= yield %>
  </body>
</html>
